(let ((config-el (expand-file-name "config.el" user-emacs-directory)))
  (when (file-exists-p config-el)
    (load-file config-el)))

(when (display-graphic-p)
  (set-face-attribute 'default nil :height 180)
  (set-frame-font "-*-Courier New-normal-normal-normal-*-*-*-*-*-m-0-iso10646-1"))
